/*  Colors */
/*  Font color */
.section-title, .text, .price-amount {
  color: #ffffff;
}

/* General settings */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 98vh;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: #e5eff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1,
h2,
h3 {
  margin-top: 0;
}

/*  Main grid */
.main-grid {
  width: 80%;
  max-width: 700px;
  margin: 2em auto;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
  /* Add round borders to main grid in mobile layout */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*  Shared styles on all sections  */
#community,
#subscription,
#why-us {
  padding: 1.4rem;
}

.section-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.2em;
}

.text {
  line-height: 1.5em;
}

/*  Community section */
#community {
  background-color: #ffffff;
  /* Add round borders to main grid in mobile layout */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.community-main-title {
  color: #2ab2af;
  font-size: 1.7rem;
  font-weight: 700;
}

.community-subtitle {
  color: #c0df34;
  font-size: 1.15rem;
}

.community-text {
  color: #98a6bd;
  line-height: 1.75em;
  max-width: 550px;
}

/*  Subscription section */
#subscription {
  background-color: #2ab2af;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-amount {
  font-size: 2.5rem;
  margin-right: 0.2em;
  font-weight: 700;
}

.price-description {
  color: #e5eff5;
}

.subscription-text {
  font-size: 1.15rem;
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: #c0df34;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover, .btn:focus {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

/*  Why us section */
#why-us {
  background-color: #2fc6c4;
  /* Add round borders to main grid in mobile layout */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
  /* removes indent on list*/
}

/*  Attribution section */
.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 700px) {
  .main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "c c c c" "c c c c" "s s w w" "s s w w";
  }
  #community {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: c;
  }
  #subscription {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: s;
    /* Add round borders to main grid in desktop layout */
    border-bottom-left-radius: 10px;
  }
  #why-us {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: w;
    /*  Remove border radius in desktop layout */
    border-bottom-left-radius: 0px;
  }
}
/*# sourceMappingURL=main.css.map */